<!DOCTYPE html>
<html>
<head>
	<title>{{ .Params.lx }}</title>

    <link rel="stylesheet" type="text/css" href="../../css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/crimson-text.css">
    <link rel="stylesheet" type="text/css" href="../../css/lightbox.min.css">

    <style type="text/css">
      -webkit-scrollbar { width: 10px; }
      -webkit-scrollbar-thumb {
        background: #666;
        border-radius: 20px;
    }
    -webkit-scrollbar-track {
        background: #ddd;
        border-radius: 20px;
    }

    	body {
    		font-family: 'Crimson Text';
    		font-size: 16pt;
	        -webkit-font-smoothing: antialiased;
    	}

        #headword sup {
            font-size: 0.5em;
        }

    	img {
    		border: 0;
    		max-width: 300px;
    		min-height: 150px;
    		max-height: 30vh;
            margin: 5px;
    	}

        a.photos {
            text-decoration: none;
        }

    	a {
            color: #E74C3C;
    		text-decoration: none;
    	}

        a:hover, i:hover {
            cursor: pointer;
            color: #0099FF;
        }

    	hr {
    		visibility: hidden;
    	}

        ul.examples_list {
            list-style: none;
            margin-left: 0;
            padding-left: 0;
        }

        li.example {
            padding-left: 1em;
            text-indent: -1em;
        }

        li.example:before {
            content: "\25c7";
        }

    </style>

</head>
<body>

    <i class="fa fa-print" aria-hidden="true" style="float:right;margin-right: 10px;" onclick="window.print();"></i>

	<h1 id="headword">{{ .Params.lx }}</h1>

	{{ with .Params.audio }}
		{{ partial "audio.html" . }}
        <br />
	{{ end }}

	{{ with .Params.img }}
		{{ partial "img.html" . }}
        <br />
	{{ end }}

	{{ range .Params.senses }}
		{{ partial "sense.html" . }}	
	{{ end }}

	<script type="text/javascript" src="../../js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="../../js/lightbox.min.js"></script>

	<script>
		$('#headword').html($('#headword').html().replace(/ _([0-9])/, "<sup>$1</sup>").replace(/ _pn/, ""));

		lightbox.option({
			'imageFadeDuration': 200,
      		'resizeDuration': 200,
      		'wrapAround': true
  		});

        var $xref_set = $("a.crossref");

        $xref_set.each(function(index, element) {
            var new_html = $(element).html().replace(/ _([0-9])/, "<sup>$1</sup>").replace(/ _pn/, "");

            $(element).html(new_html);

            if(index != ($xref_set.length - 1)) {
                $(element).after(', ');
            }

        });

	</script>

</body>
</html>
