.test {
	border:1px solid red;
}

body {
	margin:0;
	font-family: 'Crimson Text';
	font-size: 16pt;
	-webkit-font-smoothing: antialiased;
	overflow:hidden;
}

div#wordlist_box::-webkit-scrollbar, iframe#wordviewer::-webkit-scrollbar {
  width: 10px;
}
 
div#wordlist_box::-webkit-scrollbar-thumb, iframe#wordviewer::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 20px;
}

div#wordlist_box::-webkit-scrollbar-track, iframe#wordviewer::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 20px;
}

div#landing_box {
	width: 100vw;
	height: 100vh;
	background-image: url('../images/Hayes_Pope.jpg');
	background-position: -50px -200px;
	background-size: 1400px 1400px;
}

div#spacer {
	height: 15vh;
}

div#landing_bg {
	padding: 25px;
	opacity: 0.8;
	background: white;	
}

.ymp-skeleton {
	height:100vh;
	margin:0;
}

nav.ymp-skeleton {
	/*border:1px solid blue*/
	padding: 0;
}

main.ymp-skeleton {
	/*border:1px solid red;*/
}

div#search_container {
	text-align: center;
}

div#search_box i {
	width:15px;
}

div#search_box input {
	width:calc(95% - 30px);
	height: 30px;
    outline: none;
    border: none;
}

div#wordlist_box {
	height: calc(100vh - 30px);
	overflow-y: auto;
	overflow-x: hidden;
}

.fuzzychr {
	font-weight: bold;
}

iframe#wordviewer {
	border: none;
	width: 100%;
	height: 99%;
	overflow-y: scroll;
	overflow-x: hidden;
}

div#mob_back {
	display: none;
	height: 35px;
	font-size: 25pt;
	color: #E74C3C;
}

ul#wordlist {
	list-style-type: none;
	margin-left: 0;
}

li.wordinlist {
	padding-left: 0.5em;
    text-indent: -0.75em;
}

li.wordinlist:hover, i#searcher_clearer:hover {
	cursor: pointer;
	color: #0099FF;
}

input#searcher {
	font-family: 'Crimson Text';
}

/* up to medium devices */
@media (max-width: 800px) {
	div#mob_back {
		display: block;
	}

	iframe#wordviewer {
		width: 100vw;
		height:calc(100vh - 50px);
	}

	main.ymp-skeleton {
		position: absolute;
		left: 100vw;
		top: 0;
		bottom: 0;
		right:0;
		width: 100vw;
		z-index: 1000;
	}

	i#searcher_clearer:hover {		
		color: black;
	}
}

/* all above */
@media (max-width: 1199px) {

}
