<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ .Title }}</title>

    <link rel="stylesheet" type="text/css" href="../css/crimson-text.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/tether.min.css">

	<style type="text/css">
		body {
			font-family: 'Crimson Text';
			font-size: 16px;
	        -webkit-font-smoothing: antialiased;
		}
	</style>
</head>
<body>

	<div class="container">
		<br />
		<h1>{{ .Title }}</h1>
		<br />
		{{ .Content }}
	</div>

    <!-- Load in this order! jQuery, then tether, then Bootstrap -->
    <script type="text/javascript" src="../js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="../js/tether.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>

</body>
</html>

