<li class="example">
	{{ .xv | htmlUnescape | safeHTML }}<br />
		{{ with .audio }}
			<audio controls>
				<source src="../../yerrampe-audio/{{ . }}.mp3" type="audio/mp3">
			</audio>
			<br />
		{{ end }}
	<em>{{ .xe | htmlUnescape | safeHTML }}</em>
</li>
