{{ with .audio }}
	{{ partial "audio.html" . }}
	<br />
{{ end }}

{{ with .sn }}{{ . }}.{{ end }}

{{ .de | htmlUnescape | safeHTML }}

<div style="padding-left: 10px">
	{{ with .img }}
		{{ partial "img-sense.html" . }}
	{{ end }}

	{{ with .examples }}
		<ul class="examples_list">
		{{ range . }}
			{{ partial "example.html" . }}
		{{ end }}
		</ul>
	{{ end }}

	{{ with .crossrefs }}
	    See also: 
	    {{ range . }}
	    	<a class="crossref" href="../{{ .cf }}/index.html">{{ .cf }}</a>
	    {{ end }}
	    <div height="50px">&nbsp;</div>
	{{ end }}
</div>

<div style="clear:both; width: 100%" />
